@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Master Control</h1>
    <p><a target="_blank" href="https://instagram.com/danielrossi.png">Sobre mim</a>.</p>
</div>
